@media screen and (min-width: 375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alert-info {
        width: 90%;
        height: 5%;
        background: #CCFFFF;
        margin: 1em;
        padding: 1em;
         border: 1px solid grey;
    }
    .alert-info a {
        text-decoration: none;
        color: black;
    }

    h1 {
        /*margin: 1em;*/
        margin-bottom: .5em;
    }
    nav {
        width: 90%;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links li {
        width: 100%;
        background: #CCCCCC;
        list-style: none;
        text-align: center;
        margin: .5em;
        padding: .5em 0 .5em 0;
        /*justify-content: space-around;*/
    }
    .nav-links a {

    }
    .header-img {
        /*width: 100%;*/
    }
    img {
        width: 339px;
        height: 224px;
        /*margin-top: .5em;*/
        /*margin-bottom: .5em;*/
        margin: .5em auto .5em auto;
    }
    section {
        width: 90%;
    }
    h2 {
        margin-bottom: .5em;
    }
    section p {
        margin-bottom: 1.5em;
    }
}