* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 375px) and (max-width: 960px) {


    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .alert-info {
        width: 90%;
        height: 5%;
        background: #CCFFFF;
        margin: 1em;
        padding: 1em;
        border: 1px solid grey;
        text-align: center;
    }
    .alert-info a {
        text-decoration: none;
        color: black;
    }

    h1 {
        margin-bottom: .5em;
    }
    nav {
        width: 90%;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links li {
        width: 100%;
        background: #CCCCCC;
        list-style: none;
        text-align: center;
        margin: .5em;
        padding: .5em 0 .5em 0;

    }
    .nav-links a {

    }

    img {
        width: 339px;
        height: 224px;
        margin: .5em auto .5em auto;
    }
    section {
        width: 90%;
    }
    h2 {
        margin-bottom: .5em;
    }
    section p {
        margin-bottom: 1.5em;
    }
    footer {
        align-self: flex-start;
        margin: 1em;
        padding-top: 2em;
    }
}
@media screen and (min-width: 1200px) {
    body {
        /*height: 100vh;*/
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: .5fr 2fr 2fr 1fr;
    }
    .header-img {
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        justify-content: center;
    }
    img {
        align-content: center;
        width: 95%;
        /*height: 100%;*/

    }
    h1 {
        display: inline;
        grid-area: 1 / 1 / 2 / 2;
        margin: 1em;
    }
    section {
        margin-left: 2em;
        margin-top: 2em;
    }
    h2 {
        margin-bottom: 1em;
    }
    .alert-info {
        display: none;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        grid-area: 1 / 2 / 2 / 3;

    }
    .nav-links li {
        list-style: none;
    }
    .main {
        grid-area: 3 / 1 / 4 / 2;
    }
    .sub-section {
        grid-area: 3 / 2 / 4 / 3;
    }
    footer {
        grid-area: 4 / 1 / 5 / 3;
    }
    footer p {
        margin-left: 1em;
    }
}